@media screen and (max-width:767px){

    body{
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Segoe UI;
}
    a {
        color: inherit;
        text-decoration: inherit;
    }
    p{margin: 0;}
    #header{
        background-color: #2EDA94;
        width: 100%;
        height: 75px;
        position: fixed;
        top:0;
        z-index: 10;
    }
    #selectorfiltro{
        width: 100px;
        height: 30px;
        margin-top: 90px;
        margin-left: 2.5%;
        background-color: #2EDA94;
    }
    #ubicationsearcher{
        width: 100%;
        height: 50px;
    }
    #ubicationinput{
        width: 80%;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 8px;
        border: 0;
        padding-left: 30px;
        background-color: rgb(220, 220, 220);
    }

    #lupaubication{
        width: 10px;
        height: 10px;
        background-color: red;
    }
    #ubicationinput::placeholder{
        color:black;
    }
    #dropdown{
        background-color: white;
        width: 200px;
        max-height: 1000px;
        text-align: left;
        margin-left: 2.5%;
        line-height: 50px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        display: none;
        position: absolute;
    }
    #dropdown p{
        padding-left: 15px;
    }
    .raya{
        width: 100%;
        height: 1px;
        background-color: grey;
        opacity: 30%;
    }
    .rayapagnorm{
        width: 85%;
        height: 1px;
        background-color: grey;
        opacity: 30%;
        margin: 0 auto;
    }
    .rayaoption{
        width: 85%;
        height: 1px;
        background-color: grey;
        opacity: 30%;
        margin: 0 auto;
    }
    .container_options{
        padding-top: 18px;
        padding-bottom: 18px;
    }
    #allselector{
        text-align: left;
        font-size: 1.1rem;
        margin-left: 7px;
        margin-top: 2px;
        width: 70px;
        float: left;
    }
    #filtro{
        width: 70%;
        height: 30px;
        margin-top: 23px;
        margin-left: 2.5%;
        border: 1px solid #ccc;
        border-radius: 8px;
        border: 0px;
        padding-left: 30px;
        float: left;
    }
    #lista{
        overflow: hidden;
        position: absolute;
        margin: 0 auto;
        top: 120px;
        bottom: 0;
        padding-bottom: 10px;
        margin-bottom: 60px;
    }
    #container{
        width: 90%;
        min-height: 100%;
        max-height: 10000%;
        background-color: saddlebrown;
        margin: 0 auto;
    }
    .plantilla{
        width: 45%;
        height: 180px;
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 10px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25),   inset 0 0 0 2px #FFFFFF;
    }
    .imagen{
        background-color: red;
        width: 100%;
        height: 120px;
        border-radius: 10px 10px 0 0;
        background-size: cover;
    }
    .alimento{
        font-size: 1rem;
        text-align: left;
        margin-left: 10px;
        min-width: 10%;
        max-width: 60%;
        float: left;
        margin-top: 15px;
    }
    .ubicacion{
        font-size: 0.8rem;
        text-align: right;
        margin-right: 10px;
        min-width: 10%;
        max-width: 100%;
        float: right;
        margin-top: 18px;
    }
    #relleno{
        height: 75px;
    }
    #footer{
        width: 100%;
        height: 55px;
        background-color: white;
        position: fixed;
        bottom: 0;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
    }
    .iconofoot{
        height: 75px;
        width: 33.3%;
        float: left;
        background-size: 35px;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        top: 12px;
    }

    div > i{
        margin-left: 5px;
    }
    h1{
        text-align: left;
        color: #2EDA94;
        font-size: 2rem;
        font-weight: bolder;
        margin-top: 20px;
        margin-left: 7%;
    }
    h2{
        text-align: left;
        margin-left: 7%;
        font-weight: 400;
        font-size: 1.2rem;
    }
    h3{
        text-align: left;
    }
    div > h3{
        margin-left: 20px;
        padding-top: 20px;
        color: #2EDA94;
    }
    h4{
        margin: 0;
        text-align: left;
        margin-left: 20px;
        font-weight: 500;
        float: left;
    }
    .optionstxtbig{
        font-size: 1.3rem;
        font-weight: 700;
    }
    #txtbig{
        font-size: 1.5rem;
    }
    #txtbig_pc{
        font-size: 1.5rem;
    }
    .subtxt{
        text-align: left;
        margin-left: 7%;
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 0.8rem;
        color: #848484;
    }
    .precio{
        float: left;
        margin-left: 20px;
        font-size: 0.8rem;
        line-height: 20px;
        color: #848484;
    }
    .preciofinal{
        float: right;
        margin-left: 20px;
        font-size: 1.2rem;
        line-height: 20px;
        color: #2EDA94;
        margin-right: 10px;
        margin-left: 5px;
        font-weight: 500;
        line-height: 40px;
    }
    .peso{
        float: left;
        margin-left: 20px;
        font-size: 0.8rem;
        margin-top: 2px;
        color: #848484;
    }
    .txtlogo{
        line-height: 65px;
        margin-bottom: 0;
        font-family: rotterdam;
    }
    #continue{
        width: 80%;
        height: 80px;
        position: absolute;
        bottom: 30px;
        left: 10%;
        right: 10%;
    }
    #continueactive{
        background-color: #2EDA94;
        width: 80%;
        height: 80px;
        position: fixed;
        bottom: 30px;
        left: 10%;
        right: 10%;
        border-radius: 10px;
    }
    #checkout{
        background-color: #2EDA94;
        height: 60px;
        position: fixed;
        bottom: 70px;
        left: 9%;   
        right: 9%;
        border-radius: 10px;
    }
    #botoncheckout{
        background-color: #2EDA94;
        height: 60px;
        position: fixed;
        bottom: 15px;
        left: 9%;
        right: 9%;
        border-radius: 10px;
    }
    #botonmapa{
        background-color: #2EDA94;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #continuetxt{
        line-height: 80px;
        font-size: 1.7rem;
        color: #2EDA94;
        font-weight: bold;
        text-decoration: none;
        background-color: rgb(225, 225, 225);
        border-radius: 10px;
    }
    #continuetxtactive{
        line-height: 60px;
        font-size: 1.7rem;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    #headerblanco{
        height: 75px;
        background-color: white;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
    #headerblanco_pc{
        height: 75px;
        background-color: white;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
    .plantillagranjero{
        margin-left: 7%;
        margin-right: 7%;
        line-height: 25px;
        margin-top: 20px;
    }
    .nombregranjero{
        font-weight: 600;
        text-align: left;
        font-size: 1rem;
    }
    .txtnormal{
        font-size: 1rem;
        text-align: left;
    }
    a > .seemore{
        background-color: white;
        width: 175px;
        height: 40px;
        line-height: 35px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.2rem;
        font-weight: 700;
        border: solid 3px #2EDA94;
        border-radius: 10px;
        color: #2EDA94;
    }
    .logo{
        float: left;
        margin-left: 7%;
        width: 70px;
        height: 70px;
        background-color: red;
        margin-right: 20px;
    }
    .tarjeta{
        margin: 0 auto;
        width: 85%;
        background-color: white;
        min-height: 200px;
        max-height: 100000px;
        border-radius: 7px; 
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        margin-bottom: 30px;
        padding-bottom: 2px;

    }
    .alimentos{
        width: 100%;
        margin-bottom: 20px;
        height: 60px;
    }
    .button{
        width: 37px;
        height: 37px;
        background-color: white;
        float: right;
        border-radius: 100%;
        margin-top: 0px;
        margin-right: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        margin-left: -10px;
    }
    .contador{
        float: right;
        margin-right: 20px;
        font-size: 2rem;
    }
    #headercart{
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        height: 125px;
    }
    #optionheader{
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        height: 85px;
    }
    #carttxt{
        font-weight: normal;
        position: absolute;
        left: 20%;
        right: 20%;
        top: 22px;
        text-align: center;
        font-size: 2rem;
        margin: 0 auto;
    }
    .currentorder_active{
        width: 50%;
        height: 20px;
        position: absolute;
        top: 90px;
        left: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #2EDA94;
    }
    .currentorder{
        width: 50%;
        height: 20px;
        position: absolute;
        top: 90px;
        left: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .historial_active{
        width: 50%;
        height: 20px;
        position: absolute;
        top: 90px;
        right: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #2EDA94;
    }
    .historial{
        width: 50%;
        height: 20px;
        position: absolute;
        top: 90px;
        right: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        color: black;
    }
    #txtactivated{
        width: 100%;
        background-color: #2EDA94;
        height: 5px;
        margin-top: 5px;
        float: left;
    }
    #txtactivated_2{
        width: 100%;
        background-color: #2EDA94;
        height: 5px;
        margin-top: 5px;
        float: right;
    }
    .subtxt_right{
        text-align: right;
        margin-right: 10%;
    }
    #popup-tuto{
        background-color: white;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right:0;
        opacity: 40%;
        z-index: 15;
    }
    #txttuto{
        color: #2EDA94;
        z-index: 20;
        width: 85%;
        height: 50%;
        margin: 0 auto;
        margin-top: 20px;
        font-weight: 600;
        font-size: 1.1rem;
    }
    #tarjeta-tuto{
        height: 170px;
        background-color: white;
        opacity: 100%;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 30%;
        z-index: 20;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
    }
    #button-popup{
        height: 20%;
        position: absolute;
        left: 20%;
        right: 20%;
        margin-top: 0px;
        border-radius: 6px;
        border: #2EDA94 solid 3px;
    }
    #button-popup > p{
        color:#2EDA94;
        line-height: 30px;
        font-weight: 600;
        font-size: 1.2rem;
    }
    #imgpresentacion{
        width: 100%;
        height: 300px;
        background-color: red;
        background-size: cover;
        background-position: center;
        margin-top: 100px;
    }
    #imgpresentacion_2{
        width: 100%;
        height: 300px;
        background-color: red;
        background-size: cover;
        background-position: center;
    }
    #logotxt{
        position: absolute;
        left: 20%;
        right: 20%;
        margin: 0px;
        text-align: center;
        font-size: 3.4rem;
        top: 10px;
    }
    #txtinicio{
        text-align: left;
        margin-left: 7%;
        margin-right: 7%;
    }
    #txttuto_2{
        text-align: left;
        margin-left: 7%;
        margin-right: 7%;
        font-weight: 600; 
        font-style: italic;
        color:#2EDA94;
        position: absolute;
        bottom: 80px;
    }
    #bolita{
        width: 13px;
        height: 13px;
        background-color: red;
        border-radius: 100%;
        position: absolute;
        visibility: hidden;
        left: 52%;
        bottom: 40px;
    }
    #relleno_2{
        width: 100%;
        height: 50px;
    }
    #carrito{
        margin-top: 3px;
    }
    #logotxt_2 {
        text-align: center;
        margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 20px;
		color: #2EDA94;
        font-size: 4rem;
    }
    #input_log{
		width: 75%;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: rgb(230, 230, 230);
        margin-top: 20px;
        text-align: center;
    }
	#txtlogin{
		width: 75%;
        margin: 0 auto;
		background-color: #2EDA94;
		text-align: center;
		margin-top: 40px;
		height: 40px;
		border-radius: 5px;
		line-height: 40px;
    }
    #txtsignin{
		text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 10px;
		color: #848484;
    }
    #logotexto{
		width: 70%;
		height: 150px;
		background-repeat: no-repeat;
		background-position: center;
		margin:0 auto
	}

    /* google maps*/

	.map-container {
		position: absolute;
		top: 75px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}
	.map-container iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
	.map-container2 {
		margin: 0 auto;
		width: 100%;

	}
	.map-container2 iframe {
		height: 300px;
		width: 100%;
	}



    /* Display none pc viewport*/

    #header_pc{display: none;}
    #header_pc_2{display:none}
    #hide_2{display: none;}
    #boton_pc{display: none;}
    #container_granjeros{display:none;}
    #chekoutselector{display: none;}
    #container_granjeros{display:none;}
    .logo_pc{display:none;}
}